body{
       background-color: aqua;
      display:grid;

}

div{
       
       text-align: center;
       font-size: small;
       
}
img{
    width: 20vw;
    height: 20vh;
    align-items: center;
    display: grid;
   
}

h1{
    text-align: center;
    text-decoration: underline;
    color: red;
}

img:hover{
              transform: scale(0.9);
             
}
input{
       align-items: end;
}
  
