.change
{
      display:flex;
      gap:20px;
      background-color: lightslategray;
      grid-row: auto;
      grid-template-rows: max-content;
}

img:hover{
               
                transform: scale(0.9);
             
}

